html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-item.logo img {
    max-height: 2.5rem;
}

#content {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-box {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 5px;
}

.navbar-start a {
    color: #ddd !important;
}

.navbar-start a:hover {
    color: #06f !important;
}

#footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #ddd;
    margin-top: auto;
    padding: 0;
}

#footer > * {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.svg-button {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    border: none;
    background-color: rgba(0,0,0,0);
    padding-left: 5px;
    padding-right: 5px;
}

.svg-button svg {
    height: 100%;
    width: auto;
    color: grey;
}

.svg-button:active svg {
    color: black;
}


.error {
    border-color: #f00;
    background-color: #fdd;
}
