html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(100vh, auto) auto;
    grid-template-areas:
        "header"
        "content"
        "footer";

    background-color: #f0f0fa;
}

nav {
    grid-area: header;

    display: flex;
    flex-direction: row;

    height: 50px;
    background-color: #222;
    color: #ddd;
}

nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    font-size: 14pt;
}

#profile {
    margin-left: auto;
}

#content {
    grid-area: content;
}

#footer {
    grid-area: footer;
    background-color: #222;
    color: #ddd;
}


a {
    color: #06f;
    text-decoration: none;
}

a:visited {
    color: #c3f;
}



.text-box {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 5px;
}

.card {
    padding: 25px;
    border: 1px solid grey;
    background-color: #e9e9f9;
    box-shadow: 2px 2px 2px;
}

.svg-button {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;

    border: none;
    background-color: rgba(0,0,0,0);
    padding-left: 5px;
    padding-right: 5px;
}

.svg-button svg {
    height: 100%;
    width: auto;
    color: grey;
}

.svg-button:active svg {
    color: black;
}


.error {
    border-color: #f00;
    background-color: #fdd;
}
